<html lang="en">
<head>
    <style>
        p {
            font-size: 16px;
            line-height: 26px;
            font-family: sans-serif;
        }
    </style>
</head>
<body>
<p>
    {{ .story }}
</p>
</body>
</html>